@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.barbell-45 {
  background-color: #2562EA;
}

.barbell-35 {
  background-color: #EBB208;
}

.barbell-25 {
  background-color: #22C45F;
}

.barbell-15 {
  background-color: #DEB887;
}

.barbell-10 {
  background-color: #8B4513;
}

.barbell-5 {
  background-color: #DC2626;
}
